@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC:ital,wght@0,100..900;1,100..900&display=swap');

.container-habilidades {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px 10px 10px 10px;
    background-color: #0a0a0a;
    box-shadow: 10px -12px 20px 15px rgba(0, 0, 0, 0.555);
    width: 100%;
}

.resumo {}

.resumo>h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Holtwood One SC', Courier, monospace;
    color: rgb(48, 48, 48);
}

.resumo>span {
    text-align: center;
    font-size: 30px;
    font-family: "Holtwood One SC", sans-serif;
    color: rgba(253, 250, 250, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4.5rem;
    background-image: linear-gradient(90deg,
            rgb(68, 66, 66) 20%,
            #231557 40%,
            rgba(255, 0, 0, 0.63) 60%,
            white 80%,
            #44107a 100%);
    width: 70rem;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

.text {
    margin-left: 10rem;
}

.gradient-text {
    font-family: 'Holtwood One SC';
    color: rgb(255, 255, 255);
    width: 60rem;
    text-align: left;

    font-size: 30px;

}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}
.conhecimento{
    height: auto;
    margin-top:70px;
    padding:20px;
    border-radius:20px;
    background-color:#0f0f0f;

}
.conhecimento > h3{
    padding: 20px;
    margin: 20px;
    font-size:20px;
    font-family:"Holtwood One SC", serif;
    text-align: center;
    color: white;
    background-image:linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-clip: border-box;
    background-size: 200% auto;
    background-clip:text;
    -webkit-backdrop-clip:text;
    -webkit-text-fill-color:transparent;
    animation:textclip 10s linear infinite;

}
@keyframes textclip{
    to{
        background-position:200%;
    }
}
.conhecimento-span {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.progrecao {
    background-color: #4253f0dc;
    padding: 5px;
    border-radius: 10px;
}
.porcentagem{
    display: flex;
    justify-content: end;
    position:relative;
    left:50%;
    background-color: white;
    width: 5px;
    border-radius:2px;
    justify-content:center;
    align-items: center;
    height:30px;
    margin-top:3px;
}
.javascript > span{
    height: 7rem;
  }
.curso1{
    color: white;
    margin:0px;
    display: flex;
    position:relative;
    bottom:100px;
}
.curso1 a{
    text-decoration:none;
    color:white;
    font-family:"Holtwood One SC", serif;
    font-size:12px;
    margin-left:2rem;
}

.curso a:hover{
    text-decoration:underline;
    color: #4254F0;
}
.curso1-span{
    background-color: white;
    width: 50px;
    height: 0.1rem;
    display: inline-block;
    position: relative;
    top:10px;
    left:6px;
    border-radius:3px
}
.curso2{
    color: white;
    margin:0px;
    display: inline-block;
    position:relative;
    left:11.2rem;
    bottom:80px;
    text-decoration: none;
    font-family: "Holtwood One SC",serif;
    font-size:12px;
    
}
.Java {
    font-size:14px;
    font-weight:600;
    font-family:"Holtwood One SC", serif;
    color: white;
    padding: 15px;
}


