@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC:ital,wght@0,100..900;1,100..900&display=swap');

.container-habilidades {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px 10px 10px 10px;
    background-color: #0a0a0a;
    box-shadow: 10px -12px 20px 15px rgba(0, 0, 0, 0.555);
    width: 100%;
}

.resumo {}

.resumo>h2 {
    text-align: center;
    font-size: 60px;
    font-family: 'Holtwood One SC', Courier, monospace;
    color: rgb(48, 48, 48);
}

.resumo>span {
    text-align: center;
    font-size: 30px;
    font-family: "Holtwood One SC", sans-serif;
    color: rgba(253, 250, 250, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 4.5rem;
    background-image: linear-gradient(90deg,
            rgb(68, 66, 66) 20%,
            #231557 40%,
            rgba(255, 0, 0, 0.63) 60%,
            white 80%,
            #44107a 100%);
    width: 70rem;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
}

.text {
    margin-left: 10rem;
}

.gradient-text {
    font-family: 'Holtwood One SC';
    color: rgb(255, 255, 255);
    width: 60rem;
    text-align: left;

    font-size: 30px;

}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}
.conhecimento{
    display:grid;
    grid-template-columns: 2fr ;
    margin-top:70px;
    padding:20px;
    border-radius:20px;
    background-color:#111111;

}
.conhecimento > h3{
    padding: 20px;
    margin: 20px;
    font-size:20px;
    font-family:"Holtwood One SC", serif;
    text-align: center;
    color: white;
    background-image:linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-clip: border-box;
    background-size: 200% auto;
    background-clip:text;
    -webkit-backdrop-clip:text;
    -webkit-text-fill-color:transparent;
    animation:textclip 10s linear infinite;

}
@keyframes textclip{
    to{
        background-position:200%;
    }
}

.progrecao {
    background-color: #4253f0dc;
    padding: 5px;
    border-radius: 10px;
}
.javascript{
    display:grid;
    width: 100%;
    padding:20px;
    box-sizing:border-box;
    font-family:"Holtwood One SC", serif;
}
.porcentagem{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    height: 400px;
    width: 3px;
    margin-bottom:-20rem;
    position:relative;
    left:50%;
}

.curso{
    margin:0px;
    display:inline-block;
    position:relative;
    bottom:20rem;
}
.curso1{
    margin:10px;
    display: flex;
    position:relative;
    bottom:6rem;
    right:2.8rem;
    padding:20px;
}
.curso1 a{
    text-decoration:none;
    color:white;
    font-family:"Holtwood One SC", serif;
    font-size:12px;
    margin-left:20px;
}

.curso a:hover{
    text-decoration:underline;
    color: #4254F0;
}
.curso1-span{
    background-color: white;
    width: 49px;
    height: 0.1rem;
    display: inline-block;
    position: relative;
    top:10px;
    left:6px;
    border-radius:3px
}
.curso2 {
    display: flex;
    justify-content:end;
    position:relative;
    top:-1rem;
    padding:10px;
    margin-right:3px;
    font-family:"Holtwood One SC",serif;
    font-size:16px;
}

.curso2 a {
    color: white;
    text-decoration: none;;
    margin-right: 1rem;
    position:relative;
    bottom:5rem;
}
.curso2-span{
    background-color: white;
    width: 50px;
    height: 0.1rem;
    display: inline-block;
    position: relative;
    bottom:4rem;
    left:-10px;
    border-radius:3px
}
.curso3{
    display: flex;
    justify-content: start;
    padding:20px;
    position:relative;
    bottom:-.51rem;
    right:2.7rem;
    font-family:"Holtwood One SC",serif;
    font-size:16px;
}
.curso3-span{
    background-color: white;
    width: 50px;
    height: 0.1rem;
    display:flex;
    align-items:end;
    justify-content:end;
    position:relative;
    bottom:4rem;
    left:30.7rem;
    border-radius:3px
}
.curso3 a {
    color: white;
    text-decoration:none;
    position:relative;
    right:0.5rem;
    bottom:5rem;
    font-size:15px;
}
.curso4{
    display: flex;
    position:relative;
    left:4.1rem;
    bottom:-1rem;
    justify-content:end;
    padding:20px;
    font-family:"Holtwood One SC",serif;
    font-size:16px;
}
.curso4 a {
    color: white;
    text-decoration: none;;
    margin-right: 1rem;
    position:relative;
    bottom:5rem;
}
.curso5{
    display:flex;
    justify-content:start;
    padding:20px;
    position:relative;
    bottom:-2rem;
    left:3.1rem;
    font-family:"Holtwood One SC",serif;
    font-size:16px;
} 
.curso5 a{
    color: white;
    text-decoration: none;;
    margin-right: 1rem;
    position:relative;
    bottom:5rem;
}
.Java {
    font-size:14px;
    font-weight:600;
    font-family:"Holtwood One SC", serif;
    color: white;
    padding: 15px;
}


