
.footer-container{
    background-image:linear-gradient(180deg, rgb(12, 12, 12),rgb(34, 33, 33));
    display:flex;
    padding:50px;
    max-width:auto;
}

.footer-content {
    color:rgb(218, 216, 216);
    margin:20px;
    padding:20px;
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:1200px;
    margin:auto;
}

@media (max-width: 600px){
    .footer-container{
        flex-direction:column;
        text-align:center;
        width:400;
    }
    .footer-content{
        width: 400px;
        flex-direction:column;
    }
}

.footer-social_media{
    padding:20px;
    margin:20px;
    font-family: "Holtwood One SC",serif;
    font-size:small;
    color:rgb(54, 52, 52);
}
.ul-social > li {
    list-style-type:none;
    padding:10px;
    margin:0px;
}

a {
    text-decoration:none;
    color:blue;
    cursor:pointer;
}
a:hover{
    color:white;
}


.footer-onde_encontrar{
    color:rgb(54, 52, 52);
    font-family:"Holtwood One SC", serif;
    font-size:12px;
    font-weight:300;
    padding:30px;
    margin:0px;
    display:grid;

}