@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.hud-apresentation {
    position:relative;
    left:25%;
    text-align:center;  
    padding:20px;
    margin-bottom:10rem;
    font-size: 45px;
    inline-size: 1000px;
    color: #E2EBEC;
}

.letter {
    font-family: "Holtewood One SC", serif;
    color: #E2EBEC;
    transform:scaleX(700px);
    opacity: 0.9;
    display: inline-block;
    transition: ease 0.2s;
}

.letter:hover {
    cursor: normal;
    transform: scale(1.2);
    color: #4254F0;
}

.nome {
    color: #4254F0;
    font-size: 48px;
    font-weight: 700px;
    margin-left:10px;
}